.sidebarContainer {
    display: "flex";
    flex-direction: row;
    overflow: auto;
    position: fixed;
    top: 120px;
    background-color: white;
    padding: 20px;
    padding-bottom: 140px;
    z-index: 5;
    height: 100%;
    min-height: 100%;
}

.sidebar {
    margin-right: 20px;
    width: 300px;
    min-width: 300px;
    overflow: auto;
}

.subpages-expanded {
    display: block;
}

.subpages {
    display: none;
}

.vbar {
    position: absolute;
    height: calc(100% - 160px);
    top: 20px;
    right: 20px;
    width: 1px;
    background-color: rgba(86, 90, 92, 0.3);
    z-index: 5;
}